<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>408945047800-ri08rvi8jn7p04274k82bikviq9kfb8k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.408945047800-ri08rvi8jn7p04274k82bikviq9kfb8k</string>
	<key>API_KEY</key>
	<string>AIzaSyATJdKBmPnQ8MyBUEohInTRJiKsskk7xoM</string>
	<key>GCM_SENDER_ID</key>
	<string>408945047800</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nwmsu.GroupProject</string>
	<key>PROJECT_ID</key>
	<string>everywhen-55826</string>
	<key>STORAGE_BUCKET</key>
	<string>everywhen-55826.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:408945047800:ios:11f3743053dced4f95230d</string>
</dict>
</plist>