<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>992668850596-1bcllffe73evk7kjs1ihfc7ah6u1r771.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.992668850596-1bcllffe73evk7kjs1ihfc7ah6u1r771</string>
	<key>API_KEY</key>
	<string>AIzaSyCmAkqqpDq61xO4-6TJeBnf4ywU8VcxJDU</string>
	<key>GCM_SENDER_ID</key>
	<string>992668850596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nwmsu.GroupProject</string>
	<key>PROJECT_ID</key>
	<string>everywhen-iosproject</string>
	<key>STORAGE_BUCKET</key>
	<string>everywhen-iosproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:992668850596:ios:7e751d9eb1684632818931</string>
</dict>
</plist>